{% load staticfiles %}
<html>
    <head>
        <title>Detailed Entry</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cuprum|Mirza" type="text/css">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
    </head>
    <body>
    <div class="page-header-edit">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <h4><p class="top-menu">Hello, {{ user.username }}<small>(<a href="{% url 'logout' %}">Logout</a>)</small></p></h4>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="/">New comment</a></h1>
    </div>
    {% block content %}
        <h1>New comment</h1>
        <form method="POST" class="post-form">{% csrf_token %}
            {{ form.as_p }}
            <button type="submit" class="save btn btn-default">Send as a comment</button>
        </form>
    {% endblock %}
    </body>
</html>