{#{% extends 'webapp/base.html' %}#}
{% load staticfiles %}
<html>
    <head>
        <title>Draft Post</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Cuprum|Mirza" type="text/css">
        <link rel="stylesheet" href="{% static 'css/web.css' %}">
    </head>
    <body>
    <div class="page-header-draft">
        {% if user.is_authenticated %}
            <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a>
            <a href="{% url 'post_draft_list' %}" class="top-menu"><span class="glyphicon glyphicon-edit"></span></a>
            <h4><p class="top-menu">Hello, {{ user.username }}<small>(<a href="{% url 'logout' %}">Logout</a>)</small></p></h4>
        {% else %}
            <a href="{% url 'login' %}" class="top-menu"><span class="glyphicon glyphicon-lock"></span></a>
        {% endif %}
        <h1><a href="/">Draft post</a></h1>
    </div>
    <div class="content container">
        <div class="row1">
            {% block content %}
                {% if posts.exists %}
                    {% for post in posts %}
                        <div class="post col-md-8">
                            <p class="date">created: {{ post.created_date|date:'d-m-Y' }}</p>
                            <h1><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h1>
                            <p>{{ post.text|truncatechars:200 }}</p>
                        </div>
                    {% endfor %}
                {% else %}
                        <div class="col-sm-6">
                            <h4>There is empty draft.</h4>
                        </div>
                {% endif %}
            {% endblock %}
        </div>
    </div>
    </body>
</html>